DATABASE_URL= "write your mongoDM url here"

JWT_SECRET="your own secret"
JWT_EXPIRES_IN= "7d"

PORT= 3001
FRONTEND_URL= "http://localhost:8080"

#generate your own and paste here
CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET= 

# Email Configuration (SMTP)
SMTP_HOST= "smtp.gmail.com"
SMTP_PORT= "587"
SMTP_USER= "example@gmail.com"
SMTP_PASS= "write your own smtp pass"

# Gemini AI Configuration
GEMINI_API_KEY= "copy and paste your gemini API key here"